In [149]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [150]:
df = pd.read_csv('ford.csv')

In [151]:
df.head()

     model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0   Fiesta  2017  12000    Automatic    15944   Petrol  150  57.7         1.0
1    Focus  2018  14000       Manual     9083   Petrol  150  57.7         1.0
2    Focus  2017  13000       Manual    12456   Petrol  150  57.7         1.0
3   Fiesta  2019  17500       Manual    10460   Petrol  145  40.3         1.5
4   Fiesta  2019  16500    Automatic     1482   Petrol  145  48.7         1.0

In [152]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17966 entries, 0 to 17965
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         17966 non-null  object
 1   year          17966 non-null  int64
 2   price         17966 non-null  int64
 3   transmission  17966 non-null  object
 4   mileage       17966 non-null  int64
 5   fuelType      17966 non-null  object
 6   tax           17966 non-null  int64
 7   mpg           17966 non-null  float64
 8   engineSize    17966 non-null  float64
dtypes: float64(2), int64(4), object(3)
memory usage: 1.2+ MB

In [153]:
df.describe()

,year,price,mileage,tax,mpg,engineSize
count,17966.000000,17966.000000,17966.000000,17966.000000,17966.000000,17966.000000
mean,2016.866470,12279.534844,23362.608761,113.329456,57.906980,1.350807
std,2.050336,4741.343657,19472.054349,62.012456,10.125696,0.432367
min,1996.000000,495.000000,1.000000,0.000000,20.800000,0.000000
25%,2016.000000,8999.000000,9987.000000,30.000000,52.300000,1.000000
50%,2017.000000,11291.000000,18242.500000,145.000000,58.900000,1.200000
75%,2018.000000,15299.000000,31060.000000,145.000000,65.700000,1.500000
max,2060.000000,54995.000000,177644.000000,580.000000,201.800000,5.000000

In [166]:
col = ['model','year','transmission','fuelType', 'tax','mpg', 'engineSize']
for i in col:
    print("="*40,i,"="*40)
    print("Unique Count -> ",df[i].nunique())
    print(df[i].unique())

======================================== model ========================================
Unique Count ->  23
['Fiesta' 'Focus' 'Puma' 'Kuga' 'Ecosport' 'C-Max' 'Mondeo' 'Ka+'
 'Tourneo Custom' 'S-Max' 'B-Max' 'Edge' 'Tourneo Connect' 'Grand C-Max'
 'Ka' 'Galaxy' 'Mustang' 'Grand Tourneo Connect' 'Fusion' 'Ranger'
 'Streetka' 'Escort' 'Transit Tourneo']
======================================== year ========================================
Unique Count ->  22
[2017 2018 2019 2015 2014 2016 2013 2020 2012 2008 2010 2009 2011 1998
 2007 2005 2006 2002 2003 1996 2004 2000]
======================================== transmission ========================================
Unique Count ->  3
['Automatic' 'Manual' 'Semi-Auto']
======================================== fuelType ========================================
Unique Count ->  5
['Petrol' 'Diesel' 'Hybrid' 'Electric' 'Other']
======================================== tax ========================================
Unique Count ->  36
[150 145   0  20 160 125  30 235 240 200 165 140 570 205 260 580 135 265
 300 195 120 555 325 155 270 115 110 190 210 185 330 230 220 305 290  22]
======================================== mpg ========================================
Unique Count ->  90
[ 57.7  40.3  48.7  47.9  50.4  54.3  42.2  61.4  56.5  65.7  58.9  64.2
  38.2  62.8  55.4  41.5  68.9  78.5  60.1  53.3  39.2  74.3  43.5  31.7
  57.6  44.1  49.6  76.4  34.4  44.8  36.7  67.3  52.3  51.4  70.6  46.3
  45.6  31.   74.4  80.7  47.1  22.1  30.7  28.8  23.5  56.6  40.9  29.1
  38.7  22.6  42.8  30.1  20.9  88.3  34.5  37.2  35.3  83.1  37.7  35.8
  40.4  85.6  32.5  20.8 201.8  34.   39.8  24.8  33.6  32.8  29.4  31.4
  22.8  23.7  32.1  43.4  34.9  28.3  27.4  76.3  30.4  36.2  69.   26.3
  37.1  28.   42.1  54.2  28.5  23.9]
======================================== engineSize ========================================
Unique Count ->  16
[1.  1.5 1.6 1.2 2.  1.1 2.3 1.4 5.  2.2 2.5 1.8 1.3 3.2 0.  1.7]

##### 1. There is Duplicate entry in model as Focus

In [155]:
df['model'] = df['model'].str.strip().str.title()

In [156]:
df['model'].unique()

array(['Fiesta', 'Focus', 'Puma', 'Kuga', 'Ecosport', 'C-Max', 'Mondeo',
       'Ka+', 'Tourneo Custom', 'S-Max', 'B-Max', 'Edge',
       'Tourneo Connect', 'Grand C-Max', 'Ka', 'Galaxy', 'Mustang',
       'Grand Tourneo Connect', 'Fusion', 'Ranger', 'Streetka', 'Escort',
       'Transit Tourneo'], dtype=object)

##### 2. In Year Column there is an Outlier as 2060

In [157]:
df[(df['year'] >2026)]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
17726,Fiesta,2060,6495,Automatic,54807,Petrol,205,42.8,1.4

In [158]:
df[
    (df['model'] == 'Fiesta') &
    (df['price'].between(6000, 7000))
]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
24,Fiesta,2014,6795,Manual,35299,Petrol,0,65.7,1.0
50,Fiesta,2016,6000,Manual,47613,Petrol,0,65.7,1.0
53,Fiesta,2016,6395,Manual,31562,Petrol,125,54.3,1.2
73,Fiesta,2014,6360,Manual,48653,Petrol,0,65.7,1.0
74,Fiesta,2014,6270,Manual,60888,Petrol,0,65.7,1.0
...,...,...,...,...,...,...,...,...,...
17622,Fiesta,2013,7000,Manual,33533,Petrol,0,65.7,1.0
17667,Fiesta,2016,6950,Manual,44545,Petrol,125,54.3,1.2
17726,Fiesta,2060,6495,Automatic,54807,Petrol,205,42.8,1.4
17784,Fiesta,2013,6000,Manual,58246,Petrol,30,54.3,1.2
17877,Fiesta,2015,6900,Manual,37000,Petrol,0,65.7,1.0

In [159]:
mode_year = df[
    (df['model'] == 'Fiesta') &
    (df['price'] > 6000) &
    (df['price'] < 7000)
]['year'].mode()

mode_year

0    2014
Name: year, dtype: int64

In [160]:
df['year'].value_counts()

year
2017    4888
2018    4014
2019    3194
2016    2331
2015    1368
2014     805
2013     609
2020     258
2012     115
2011      94
2009      91
2010      67
2008      57
2007      32
2005      16
2006      13
2004       4
2003       3
2002       3
1998       1
1996       1
2000       1
2060       1
Name: count, dtype: int64

In [161]:
mode_year # --> Data Type = np.int

0    2014
Name: year, dtype: int64

In [162]:
mode_year = mode_year.iloc[0]  # *Needed
df.loc[df['year'] > 2026, 'year'] = mode_year

In [163]:
df['year'].value_counts()

year
2017    4888
2018    4014
2019    3194
2016    2331
2015    1368
2014     806
2013     609
2020     258
2012     115
2011      94
2009      91
2010      67
2008      57
2007      32
2005      16
2006      13
2004       4
2002       3
2003       3
1998       1
1996       1
2000       1
Name: count, dtype: int64

##### 3. High Taxed Car (keep if they are expensive with large Engine Size)

In [164]:
df[df['tax'] > 400][['tax','model', 'engineSize', 'fuelType', 'year', 'tax']]

       tax    model  engineSize fuelType  year  tax
364    570  Mustang         5.0   Petrol  2016  570
3163   580  Mustang         5.0   Petrol  2017  580
3395   570  Mustang         5.0   Petrol  2017  570
3687   570  Mustang         5.0   Petrol  2016  570
6136   570  Mustang         5.0   Petrol  2016  570
9790   570  Mustang         5.0   Petrol  2016  570
11097  580  Mustang         5.0   Petrol  2016  580
12400  570  Mustang         5.0   Petrol  2017  570
13741  555     Kuga         2.5   Petrol  2012  555
14910  555     Kuga         2.5   Petrol  2012  555
17316  555     Kuga         2.5   Petrol  2011  555
17430  555    S-Max         2.3   Petrol  2008  555

##### mpg for petrol/diesel -> (max upto 100-110) , if more then fuelType -> electric | hybrid

In [165]:
df[df['mpg'] > 100][['mpg','model', 'fuelType', 'engineSize']]

         mpg model fuelType  engineSize
6153   201.8  Kuga   Hybrid         2.5
6536   201.8  Kuga   Hybrid         2.5
9220   201.8  Kuga   Hybrid         2.5
12862  201.8  Kuga   Hybrid         2.5
13730  201.8  Kuga   Hybrid         2.5